body{
    /* background-color: teal; */
}

.caja{
    width: 50vh;
    height: 30vh;
    border: 1px solid red;
    background-color: #fff;
}

.fila1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.caja-columna1{
    width: 50vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.caja-columna2{
    display: flex;
    align-items: end;
}


.fila2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.caja-fila2{
    display: flex;
    align-items: end;
}

.caja-fila3{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Yoyo */
.niño{
    background-image: url(../storage/img/nino-yoyo.png);
    height: 45vh;
    width: 15vw;
    position: relative;
    overflow: hidden;
}

.nada{
    width: 60px;
    height: 34vh;
    position: absolute;
    right: 0;
    bottom:  0px;
    overflow: hidden;
}

.yoyo{
    overflow: hidden;
    background-image: url(../storage/img/yoyo.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 25vh;
    position: relative;
    right: 0;
    top: -100px;
    transition: top 2s ease-in-out 0.5s;

}

.yoyo:hover{
    top: 20px;
}

/* Paisaje */

.anim{
    height: 60vh;
    width: auto;
    border: 1px solid red;
    background-image: url(../storage/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    /* object-fit: cover; */
}