body{
    /* background-color: teal; */
}

.caja{
    width: 50vh;
    height: 30vh;
    border: 1px solid red;
    background-color: #fff;
}

.fila1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.caja-columna1{
    width: 50vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.caja-columna2{
    display: flex;
    align-items: end;
}


.fila2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.caja-fila2{
    display: flex;
    align-items: end;
}

.caja-fila3{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Yoyo */
.niño{
    background-image: url(../storage/img/nino-yoyo.png);
    height: 45vh;
    width: 15vw;
    position: relative;
    overflow: hidden;
}

.nada{
    width: 60px;
    height: 34vh;
    position: absolute;
    right: 0;
    bottom:  0px;
    overflow: hidden;
}

.yoyo{
    overflow: hidden;
    background-image: url(../storage/img/yoyo.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 25vh;
    position: relative;
    right: 0;
    top: -100px;
    transition: top 2s ease-in-out 0.5s;

}

.yoyo:hover{
    top: 20px;
}

/* Paisaje */

.anim{
    height: 60vh;
    width: 100%;
    border: 1px solid red;
    background-image: url(../storage/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: border, 1s ease 0.5s;
    overflow: hidden;
    position: relative;
}

.nube{
    background-image: url(../storage/img/cloud.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    opacity: 10;
    transition: transform, opacity 3s ease 0.5s;
    
}

.anim:hover{
    border: 5px solid red;
    
}

.anim:hover > .nube{
    transform: translateX(40vw);
    transition: transform 2s ease-in-out 1s;
    
}

.lluvia{
    background-image: url(../storage/img/rain-background.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin-top: -10vw;
    opacity: 0;
    position: fixed;
    transition: transform 3s ease 3s;
}

.anim:hover > .nube > .lluvia{
    transform: translateY(100vh);
    opacity: 10;
     border: 10px solid red; 
}

.flor{
    background-image: url(../storage/img/flower.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
    position: absolute;
    /* left: 0; */
    right: 100vh;
    bottom: -20vh;
    transition: transform 3s ease 5s;
    border: 2px solid red;
}

.anim:hover > .flor{
    transform: translateY(-20vh);
}


