body{
    background-color: teal;
}

.caja{
    width: 50vh;
    height: 30vh;
    border: 1px solid red;
    background-color: #fff;
}

.fila1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.caja-columna1{
    width: 50vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.caja-columna2{
    display: flex;
    align-items: end;
}


.fila2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.caja-fila2{
    display: flex;
    align-items: end;
}

.caja-fila3{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}